{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
            {% if user.is_authenticated and user.is_worker %}
                <a href="{% url 'worker_profile_edit' user.id %}"><img class="img-thumbnail" src="{{ user.worker.image.url }}" style="width:600px; height:auto;" alt=""></a>
                <div class="info">
                    <h2><span class="badge rounded-pill bg-success">{% trans "Username:" %}</span> {{ user.username }}</h2>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Email:" %}</span> {{ user.email }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "First Name:" %}</span> {{ user.worker.first_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Last Name:" %}</span> {{ user.worker.last_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Mobile:" %}</span> {{ user.worker.phone }}</b></p>
                    
                </div>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'worker_profile_edit' user.id %}">{% trans "Edit profile information" %}</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'category_all' %}">{% trans "Apply for job" %}</a>
                <br />
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'cv_list' %}">{% trans "My Cv's" %}</a>
                <br />
            {% elif user.is_authenticated and user.is_company %}
                <a href="{% url 'company_profile_edit' user.id %}">
                <img class="img-thumbnail" src="{{ user.company.image.url }}">
                </a>
                <div class="info">
                    <h2><span class="badge rounded-pill bg-success">{% trans "Username:" %}</span> {{ user.username }}</h2>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Email:" %}</span> {{ user.email }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Company name:" %}</span> {{ user.company.company_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Address:" %}</span> {{ user.company.address }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">{% trans "Mobile:" %}</span> {{ user.company.phone }}</b></p>
                    
                </div>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'company_profile_edit' user.id %}">{% trans "Edit company information" %}</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'category_all' %}">{% trans "Find employees" %}</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'order_list' %}">{% trans "My orders" %}</a>
            {% else %}
                <h2>You have to be login to view this page</h2>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
