{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="card">
            {% if user.is_authenticated and user.is_worker %}
                <img class="img-thumbnail" src="{{ user.worker.image.url }}">
                <div class="info">
                    <h2><span class="badge rounded-pill bg-success">Username:</span> {{ user.username }}</h2>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Email:</span> {{ user.email }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">First Name:</span> {{ user.worker.first_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Last Name:</span> {{ user.worker.last_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Mobile:</span> {{ user.worker.phone }}</b></p>
                    
                </div>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'worker_profile_edit' user.id %}">Edit profile information</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'category' 1 %}">Apply for a job</a>
                <br />
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'cv_list' %}">My Cv's</a>
                <br />
            {% elif user.is_authenticated and user.is_company %}
                <img class="img-thumbnail" src="{{ user.company.image.url }}">
                <div class="info">
                    <h2><span class="badge rounded-pill bg-success">Username:</span> {{ user.username }}</h2>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Email:</span> {{ user.email }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Company name:</span> {{ user.company.company_name }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Address:</span> {{ user.company.address }}</b></p>
                    <p class="text-scondary"><b><span class="badge rounded-pill bg-success">Mobile:</span> {{ user.company.phone }}</b></p>
                    
                </div>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'company_profile_edit' user.id %}">Edit company information</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'category' 1 %}">Find employees</a>
                <br>
                <a class="btn btn-success" style="text-decoration: none; color:white; font-weight:20" href="{% url 'order_list' %}">My orders</a>
            {% else %}
                <h2>You have to be login to view this page</h2>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
