{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block headers %}
<title>{% trans "Job-Positions" %}</title>
{% endblock headers %}

{% block content %}
<br>
<br>
<div class="container">
    <h1 style="color: white; text-align: center">{% trans "All niches and job positions we work with." %}</h1>
    <p>{% trans "Category info text" %}</p>
    {% for cat in category %}
        <div class="btn-group">
            <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'category' cat.id %}"><h2><span class="badge bg-light text-dark">{{ cat.name }}</span></h2></a>
        </div>
    {% endfor %}
    <div class="card-group">
            {% for subc in subcategory %}
                <div class="card text-center" style="border: none; padding-top: 20px">
                    <img class="card-img-top mx-auto" style="width:200px; height:200px;" src="{{ subc.img.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ subc.name }}</h5>
                        {% if user.is_anonymous %}
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'worker_cv' subc.id %}">{% trans "Apply for job" %}</a>
                            </button>
                            <br>
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'company_apply' subc.id %}">{% trans "Get offer for workers" %}</a>
                            </button>
                        </div>
                        {% endif %}
                        {% if user.is_authenticated and user.is_worker %}
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'worker_cv' subc.id %}">{% trans "Apply for job" %}</a>
                            </button>
                        {% elif user.is_authenticated and user.is_company %}
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'company_apply' subc.id %}">{% trans "Get offer for workers" %}</a>
                            </button>
                            <br>
                            <button type="button" class="btn btn-success">
                                <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'workers_cvs' subc.id %}">{% trans "Availables workers" %}</a>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
          
        </div>
</div>

{% endblock content %}