{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block headers %}
<title>{% trans "Job-Positions" %}</title>
{% endblock headers %}

{% block content %}
<br>
<br>
<div class="container">
    <h1 style="color: white; text-align: center">{% trans "All niches and job positions we work with." %}</h1>
    <p>{% trans "Category info text" %}</p>
    {% for cat in category %}
        <div class="btn-group">
            <a style="text-decoration: none; color:white; font-weight:20" href="{% url 'category' cat.id %}"><h2><span class="badge bg-light text-dark">{{ cat.name }}</span></h2></a>
        </div>
    {% endfor %}
    <h2><span class="badge" style="color:white">{% trans "Choose the category to view all positions" %}</span></h2>
</div>

{% endblock content %}