{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block headers %}
<title>{% trans "Job-Positions" %}</title>
<link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock headers %}

{% block content %}
<br>
<br>
<!--https://www.bestcssbuttongenerator.com/#/1 css for button -->
<div class="container">
    <h1 style="color: white; text-align: center">{% trans "All niches and job positions we work with." %}</h1>
    <p>{% trans "Category info text" %}</p>
    <div class="row">
        <div class="col text-center">
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu">
                {% for cat in category %}
                    <a class="dropdown-item" style="text-center" href="{% url 'category' cat.id %}">{{ cat.name }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}