{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<br>
<br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    {% if user.is_authenticated and user.is_company %}
                    <h1><b style="color:green">{{ user.username }}</b>- you are about to request a offer for <i style="color:green">{{ subcat.name }}</i></h1>
                        <form class="profile-company" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form|crispy }}
                                {% comment %} {{ form.start_date|as_crispy_field }} {% endcomment %}
                                <br>
                                <div class="button-wrapper submit">
                                    <input class="btn btn-primary" type="submit" value="Request price" />
                                </div>
                                <br>
                        </form>
                    {% elif user.is_authenticated and user.is_worker %}
                        <h2>You have to be register as Company to take offer for {{ subcat.name }}.</h2>
                    {% else %}
                        404
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}