{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                {% if user.is_authenticated and user.is_worker %}
                    <h1><b style="color:red">{{ user.username }}</b>- you are about to apply for job like <i style="color:green">{{ subcat.name }}</i></h1>
                    <p><b>Pleace fillup the CV for this position.</b></p>
                    <form class="profile-company" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            {% comment %} {{ form.start_date|as_crispy_field }} {% endcomment %}
                            <br>
                            <div class="button-wrapper submit">
                                <input class="btn btn-primary" type="submit" value="Apply for {{ subcat.name }}" />
                            </div>
                            <br>
                    </form>
                {% elif user.is_authenticated and user.is_company %}
                    <h2>You have to be register as Worker to register your CV for {{ subcat.name }}. You are register as Company!</h2>
                {% else %}
                    404
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}