{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <br>
        <h1>{{ user.username }} - This is yours applications for employee.</h1>
            {% for c in order %}
            <div class="card">
                <div class="card-header">
                    Date you apply or edit your order- {{ c.submit_date }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ c.job_titlle }} - Position you requested</h5>
                    <a href="{% url 'order_detail' c.id %}" class="btn btn-success">Preview</a>
                    <a href="{% url 'order_edit' c.id %}" class="btn btn-success">Update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}