{% extends "base.html" %}
{% load static %}


{% block content %}
<br>
<br>     
    {% for c in cv %}
        {% if c.employ == False %}
        
            <img class="thumbnail" style="width:25px; height:25px;" src="{{ c.worker.image.url }}">
        {% endif %}

    {% endfor %}
            {% for work in workers %}
                <h2>{{ work.first_name }}</h2>
                <h3>{{ work.last_name }}</h3>
                <h3>{{ work.user.email }}</h3>
                <img src="{{ work.image.url }}" style="width:125px; height:125px;" alt="Card image cap">
            {% endfor %}



{% endblock content %}