
.body {
    background-color: #BF92C4;
    /* background-image: linear-gradient(to bottom left, #97C492, #BF92C4); */
    background-repeat: no-repeat;
}

.text-uppercase {
    color: #BF92C4;
}

.btn {
    background-color: #97C492;
    font-weight: bold;
    color: black;
}

.form-check {
    display: inline-block;
    padding-right: 5px;
}