{% extends 'base.html' %}
{% block headers %}
<title>{{ object.question | safe }}</title>
{% endblock headers %}

{% block content %}
    <div class="container" style="align: center;">
        <div class="row align-items-center">
            <div class="col-lg-12 col-sm-12 col-md-12">
                <h1 >{{ object.question | safe }}</h1>
                <p style="color: white" id="summernote">{{ object.answer | safe }}</p>
                <br>
            </div>
        </div>
    </div>
    <br>
{% endblock %}