{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="{% url 'home' %}"><img/>Germanyarbeit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'category_all' %}">{% trans "Job-Positions" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'partners' %}">{% trans "Partners" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'faq' %}">{% trans "FAQ" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'news' %}">{% trans "News" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">{% trans "Contact" %}</a>
      </li>
    </ul>
    <!-- Languages choises -->
    <ul class="navbar-nav">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for lang in languages %}
          <li class="nav-item">
            <a class="dropdown-item nav-link" href="/{{ lang.code }}/">{{ lang.name_local }}</a>
          </li>
        {% endfor %}
    </ul>
    <!-- Authentication -->
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
        {% if user.is_worker %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">{{ user.worker.first_name }}</a>
        </li>
        {% elif user.is_company %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">{{ user.company.company_name }}</a>
        </li>
        {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_login' %}">{% trans "Login In" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account_signup' %}">{% trans "Register" %}</a>
      </li>
      {% endif %}
    </ul>    
  </div>
</nav>